<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsociety.reproductoresteso">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterFormActivity"
            android:label="@string/str_headerRegister"/>
        <activity android:name=".MusicPlayerActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ListMusicActiviy"
            android:label="@string/str_headerListMusic"/>
        <activity android:name=".ListAlbumActivity"
            android:label="@string/str_headerListAlbun"/>
        <activity android:name=".MainActivity"
            android:label="@string/str_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>